<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>is.meyer.dribble-retina-toggle</string>
       <key>Developer Identifier</key>
       <string>7ZCMA49A25</string>
       <key>CFBundleVersion</key>
       <string>2</string>
       <key>CFBundleShortVersionString</key>
       <string>0.2</string>
       <key>URL</key>
       <string>http://mikemeyer.s3.amazonaws.com/dribbble-retina-toggle/dribbble-retina-toggle.safariextz</string>
     </dict>
   </array>
</dict>
</plist>